#footerDiv {
    color: #F9F6EE;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
    font-family: 'Trispace', sans-serif;
}
#footer {
    text-align: center;
}