.navbar> .container > a, .navbar > .container > .navbar-collapse > .navbar-nav > a, .navbar > .container > .navbar-collapse > .navbar-nav > .nav-item > #basic-nav-dropdown{
    color: #F9F6EE;
    font-family: 'Trispace', sans-serif;
}

.dropdown-menu {
    font-family: 'Trispace', sans-serif;
}