@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@300&display=swap');

.mainPage {
    background-color: #212529;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;

}
.welcome {
    color: #F9F6EE;
    margin-top: 20px;
    font-family: 'Trispace', sans-serif;
}
.searchBtn{
    display: flex;
    justify-content: center;
    color: #F9F6EE;
    font-family: 'Trispace', sans-serif;
}
.card-title {
    color: #F9F6EE;
}
.favBtn {
    display: flex;
    justify-content: center;
    color: #F9F6EE;
    font-family: 'Trispace', sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
}
// https://codepen.io/liyrofx/pen/poVZeEG - Glowing border created by LIYRO
.animated-border-box, .animated-border-box-glow{
    max-height: 617px;
    max-width: 800px;
    height: 75%;
    width: 75%;
    position: absolute;
    overflow: hidden; 
    z-index: 0;
      border-radius: 10px;
  }
  
  .animated-border-box-glow{
    overflow: hidden;
    /* Glow Blur */
    filter: blur(20px);
  }
  
  .animated-border-box:before, .animated-border-box-glow:before {
    content: '';
    z-index: -2;
    text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(0deg);
    position: absolute;
      width: 99999px;
      height: 99999px;
      background-repeat: no-repeat;
      background-position: 0 0;
    /*border color, change middle color*/
      background-image: conic-gradient(rgba(0,0,0,0), #1976ed, rgba(0,0,0,0) 25%);
    /* change speed here */
      animation: rotate 4s linear infinite;
  }
  
  .animated-border-box:after {
      content: '';
      position: absolute;
      z-index: -1;
    /* border width */
      left: 5px;
      top: 5px;
    /* double the px from the border width left */
      width: calc(100% - 10px);
      height: calc(100% - 10px);
    /*bg color*/
      background: #292a2e;
    /*box border radius*/
      border-radius: 7px;
  }
  
  @keyframes rotate {
      100% {
          transform: translate(-50%, -50%) rotate(1turn);
      }
  }
  
  /*// Border Animation END//*/
  
  
  
  /*// Ignore This //*/
  body {
    margin: 0px;
  }
  
  .center-box{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D1E22;
  }